<div data-index="{{ key | default(0) }}" data-file="/quick-pages/{{ slug }}" class="item {{ thumbnail_size }} {{ categories }}">
	<img src="/image/{{ thumbnail_size }}/{{ thumbnail_name }}" alt=""/>
	<div class="cover"></div>
</div>